@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("font-files/IBMPlexMono-Regular.woff2") format("woff2"),
    url("font-files/IBMPlexMono-Regular.woff") format("woff");
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("font-files/IBMPlexMono-Medium.woff2") format("woff2"),
    url("font-files/IBMPlexMono-Medium.woff") format("woff");
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("font-files/IBMPlexMono-SemiBold.woff2") format("woff2"),
    url("font-files/IBMPlexMono-SemiBold.woff") format("woff");
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("font-files/IBMPlexMono-Bold.woff2") format("woff2"),
    url("font-files/IBMPlexMono-Bold.woff") format("woff");
}