@use '../mixins';

.button {
	height: 2.25rem;
	appearance: none;
	padding: 0.5rem 0.875rem;
	border-radius: 0.25rem;
	font-size: 13px;
	letter-spacing: 0.05em;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: var(--d-m-2) var(--e-s);

	background-color: var(--ui-yinyang);
	color: var(--ui);

	&:hover {
		opacity: 0.8;
	}

	&:focus-visible {
		outline: 2px solid var(--accent);
	}

	& i {
		margin-right: 0.25rem;
	}

	&.gray {
		background-color: var(--ui-1);
		color: var(--text-color);

		&:hover {
			background-color: var(--ui-2);
			opacity: 1;
		}

		&:active {
			background-color: var(--ui-3);
		}
	}
}

.link {
	display: inline-flex;
	color: var(--text-color-08);
	text-decoration: none;
	line-height: 1.2;
	position: relative;

	@include mixins.link-focus();

	&:hover {
		opacity: 1 !important;
		text-decoration: underline;
	}

	&.active {
		font-style: italic;
	}

	&.in-grid {
		opacity: 0.9;

		&:not(:last-child) {
			margin-right: 1rem;
			margin-bottom: 1rem;
		}
	}
}

.offset-link {
	--underline-offset: 0;

	color: currentColor;
	text-decoration: underline;
	text-underline-offset: var(--underline-offset);
	transition: --underline-offset 300ms ease 0s;

	&:hover {
		--underline-offset: 0.1em;
	}
}

.social-button {
	color: var(--text-color-08);
	padding: 0.35rem;
	border-radius: 90px;
	transition: var(--d-m-1) var(--e-s);

	&:hover {
		color: var(--text-color);
		background-color: var(--ui-1);
	}

	html.dark & {
		color: var(--text-color);
	}
}

.icon-button {
	width: 2.25rem;
	height: 2.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	border-radius: 90px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	box-shadow: none;
	color: var(--text-color);
	transition: var(--d-m-1) var(--e-s);

	&:hover {
		background-color: var(--ui-1);
	}

	&:focus-visible {
		box-shadow: 0 0 0 2px var(--accent);
	}

	&.stretch {
		width: auto;
		padding: 0 0.85rem;
	}

	& span {
		font-size: 14px;
		font-weight: 500;
		line-height: 1;
	}
}

.sm-link {
	font-size: inherit;
	line-height: 1.5;
	opacity: 0.8;
	color: var(--text-color);
	text-decoration: underline;
	transition: var(--d-m-1) var(--e-s);

	&:hover {
		opacity: 1;
		text-underline-offset: 1px;
		color: var(--accent);
	}
}

.whoami .j-link.underline {
	font-weight: 400;
}

article a:not([class]), .default-link {
	color: var(--text-color);
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.05em;
	text-decoration-color: rgba(0, 0, 0, 0.4);
	transition: var(--d-m-1) var(--e-s);

	&:hover {
		opacity: 0.6;
	}

	html.dark & {
		text-decoration-color: rgba(255, 255, 255, 0.4);
	}
}

.simple-link {
	color: var(--text-color);
	transition: var(--d-m-1) var(--e-s);

	&:hover {
		opacity: 0.6;
	}
}

.action-link {
	font-size: 13px;
	letter-spacing: 0.05em;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--text-color);
	transition: var(--d-m-1) var(--e-s);

	&:hover {
		opacity: 0.65;
	}
}

.top-button {
	$size: 2.5rem;

	width: $size;
	height: $size;
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	cursor: pointer;

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transform: translateY(2rem);

	&.show {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		transform: translateY(0);
	}

	&:hover .bg {
		transform: scale(1.1);
	}

	&, & .bg {
		transition: var(--d-m-2) var(--e-s);
	}

	& .bg, & .icon-container {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	& .bg {
		width: $size;
		height: $size;
		background-color: var(--accent);
		border-radius: 90px;
		z-index: 1;
	}

	& .icon-container {
		color: white;
		z-index: 2;
	}
}