@use '../variables';
@use '../mixins';
@use '../colors';

.i-input {
	width: 100%;
	height: 2.5rem;
	padding: 0 1rem;
	font-size: 1rem;
	line-height: 2.5rem;
	background-color: var(--ui);
	color: var(--text-color);
	border: none;
	box-shadow: inset var(--ui-2) 0px 0px 0px 1px;
	border-radius: variables.$radius;
	transition: box-shadow var(--d-m-2) var(--e-s);

	html.dark & {
		box-shadow: inset var(--ui-3) 0px 0px 0px 1px;
	}

	&:focus {
		outline: none;
	}

	&.shadow {
		box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
	}

	@each $color in colors.$colors {
		$primary: var(#{'--'}#{$color}#{'-500'});

		&.#{$color}:focus {
			box-shadow: inset $primary 0px 0px 0px 2px,
				rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
				rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
		}
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&[type=number] {
		-moz-appearance: textfield;
	}
}


.caption-link {
	color: var(--text-color-06);
	font-size: 0.875rem;

	&:hover {
		text-decoration: underline;
	}
}