@use '../mixins';

.nav-button {
	position: fixed;
	top: 1rem;
	left: 1rem;
	padding: 0.5rem;
	z-index: 9999;

	@include mixins.link-focus(-4px, 90px);

	&:hover > div {
		background-color: var(--ui-2);
	}

	& div {
		width: 2rem;
		height: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--text-color);
		background-color: var(--ui-1);
		border-radius: 90px;
		transition: var(--d-s-1) var(--e-s);
	}
}