.tag {
	border-radius: 90px;
	background-color: var(--ui-1);
	padding: 0.35rem 0.75rem;
	font-size: 0.875rem;
	display: inline-block;

	&.accentuate {
		background-color: var(--ui-2);
	}
}

.badge {
	border-radius: 90px;
	background-color: var(--accent-500);
	color: black;
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1;
	margin-left: 0.5rem;

	body.black & {
		background-color: var(--ui-1);
	
		& .new {
			color: white;
		}
	}
}