

body, body *,
body.mono, body.mono * {
	font-family: "courier new", monospace;
}

body.inter, body.inter * {
	font-family: "Inter", "Roboto", "Open Sans", "Helvetica", "Arial", system-ui, sans-serif !important;
}

hr {
	width: 100%;
	height: 1px;
	box-shadow: none;
	border: none;
	background-color: #444;
	margin: 2rem 0;
}

.utility-header {
	font-size: 6rem;
	line-height: 1;
}


.footer {
	border-top: 1px solid #444;
}

.fs-sm {
	font-size: 0.875rem;
}
.lh-1-5 {
	line-height: 1.5;;
}

@media only screen and (max-width: 767px) {
	.landscape-text-c {
		text-align: center !important;
	}
}

.lh-1 {
	line-height: 1;
}

.very-top {
	margin-top: 18px;
}

.s-grid-2 {
	grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 767px) {
	.s-grid-2 {
		grid-template-columns: 1fr;

		& h2 {
			font-size: 1.25rem;
		}
	}
}

.theme-switcher-wrapper {
	height: 100px;
}