// Most of this file, with a few exceptions,
// was taken directly from Tilde.club. They
// deserve the credit for nearly the entire
// layout to my website. Thank you, Tilde!

body {
	margin: auto;
	padding: 1rem;
	max-width: 64rem;
	color: var(--accent-400);
	background: var(--background);
	word-wrap: break-word;
}

a, button, .theme-color-select {
	box-shadow: none;
	background-color: transparent;
	border: none;
	text-decoration: none;
	color: var(--accent-300);
	font-weight: bold;
	padding-right: 0.25em;
	cursor: pointer;
}

a:not([class]) {
	position: relative;
	padding-right: 0 !important;

	&:focus {
		outline: none;
	}

	&:hover, &:focus {
		text-decoration: none !important;

		&::after {
			height: 100%;
			opacity: 0.3;
		}
	}

	&::after {
		opacity: 0;
	}

	&::after, &::before {
		content: "";
		height: 1px;
		width: 100%;
		position: absolute;
		bottom: 1px;
		left: 0;
		right: 0;
		background-color: var(--accent-500);
		transition: var(--d-m-1) var(--e-s);
	}
}

a.multiline {
	text-decoration: none !important;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;

	&:hover {
		background-size: 100% 2px;
	}

	&::after {
		content: "";
		width: 100%;
		height: 1px;
		background-color: var(--accent-500);
	}
}

a:hover, button:hover {
	text-decoration: underline;
}

h1 {
	text-transform: uppercase;
	color: var(--accent-400);
	font-family: monospace;
}

/* THEGOODS */
#fancyboi {
	font-size: 1.6rem;
}
#fancyboi::before {
	content: "/";
	margin-right: 0.5rem;
}

#fancyboi.article::before {
	content: "?";
}

@media (prefers-reduced-motion: no-preference) {
	@keyframes flash {
		50% { opacity: 0; }
	}
	@keyframes reveal {
		from { width: 2em; } /* Width of ::before */
		  to { width: 100%; }
	}
	#fancyboi {
		overflow: hidden;
		white-space: nowrap;
		animation: reveal 4s linear;
		text-overflow: "█";
	}
	#fancyboi::after {
		font-family: monospace;
		content: "█";
		animation: flash 0.5s step-end infinite;
	}
}
/* SDOOGEHT */

.sourceCode {
 color: var(--accent-600);
}

code > span.fl { 
 color: var(--accent-600); 
}

/* Page content */
.content {
	padding-top: 5px;
}

blockquote {
    border-left: 2px solid var(--accent-800);
    padding: 0.5rem;
    padding-left: 1rem;
	margin: 0;
}	

/* Mobile */
@media (max-width: 768px) {
	td {
		display: block;
	}
}