// Most of this file, with a few exceptions,
// was taken directly from Tilde.club. They
// deserve the credit for nearly the entire
// layout to my website. Thank you, Tilde!

body {
	margin: auto;
	padding: 1em;
	max-width: 64em;
	font-family: "courier new", monospace;
	color: var(--accent-400);
	background: var(--background);
	word-wrap: break-word;
}
a, button, .theme-color-select {
	box-shadow: none;
	background-color: transparent;
	border: none;
	text-decoration: none;
	color: var(--accent-300);
	font-weight: bold;
	padding-right: 0.25em;
	font-family: "courier new", monospace;
	cursor: pointer;
}

a:hover, button:hover {
	text-decoration: underline;
}

h1 {
	text-transform: uppercase;
	color: var(--accent-400);
	font-family: monospace;
}

/* THEGOODS */
#fancyboi::before {
	content: "/";
	margin-right: 0.5rem;
}

#fancyboi.article::before {
	content: "?";
}

@media (prefers-reduced-motion: no-preference) {
	@keyframes flash {
		50% { opacity: 0; }
	}
	@keyframes reveal {
		from { width: 2em; } /* Width of ::before */
		  to { width: 100%; }
	}
	#fancyboi {
		overflow: hidden;
		white-space: nowrap;
		animation: reveal 4s linear;
		text-overflow: "█";
	}
	#fancyboi::after {
		content: "█";
		animation: flash 0.5s step-end infinite;
	}
}
/* SDOOGEHT */

.sourceCode {
 color: var(--accent-600);
}

code > span.fl { 
 color: var(--accent-600); 
}

 /* Style the navbar */
#navbar {
	overflow: hidden;
	background-color: var(--accent-400);
	color: #222;
	z-index: 99;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 0.25em;
}

#navbar a:hover {
	background-color: var(--accent-500);
}

body.black #navbar {
	background-color: var(--gray-100);
}

body.black #navbar a:hover {
	background-color: var(--gray-200);
}

/* Navbar links */
#navbar a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

@media only screen and (max-width: 767px) {
    #navbar a {
        font-size: 0.875rem;
    }
}

/* Page content */
.content {
	padding-top: 5px;
}

input[type="text"],
textarea {
	background-color: #333;
	color: darkorange;
}

div.alert-warning {
	background-color: darkred;
}
div.alert-success {
	background-color: darkgreen;
}

blockquote {
    border-left: 2px solid var(--accent-800);
    padding: 0.5rem;
    padding-left: 1rem;
	margin: 0;
}	

/* Mobile */
@media (max-width: 768px) {
	td {
		display: block;
	}
}